epsxe/bios/*
epsxe/burutter.dll
epsxe/cheats/erase.me
epsxe/config/*
epsxe/covers/*
epsxe/docs/*
epsxe/epsxe.chm
epsxe/ePSXe.exe
epsxe/idx/*
epsxe/info/*
epsxe/isos/*
epsxe/memcards/*
epsxe/patches/*
epsxe/plugins/*
epsxe/shaders/*
epsxe/snap/*
epsxe/sstates/*
*.pyc
epsxe/HHMBTNI/EVENT_BASE/COMMAND.xlsx
